@model OrnamentsWebApplication.ViewModel.CheckoutViewModel

@if (Model != null)
{
    if (Model.CartProducts != null && Model.CartProducts.Count > 0)
    {
        <div>
            @foreach (var product in Model.CartProducts)
            {
                var productQuantity = Model.CartProductsIds.Where(productID => productID == product.Id).Count();
                <div>
                    Name: @product.Name-Price: @product.Price -Quantity:@productQuantity - Total Price: @(product.Price*productQuantity)
                </div>
            }
        </div>

        <div>
            Total Bill: @Model.CartProducts.Sum(x=>x.Price* Model.CartProductsIds.Where(productID => productID == x.Id).Count());
        </div>

    }
    else
    {
        <div>
            <h2>No Products in Cart</h2>
        </div>
    }
}

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

